<template>


    <div>
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <router-link :to="{name: 'newAlbum'}" class="btn btn-success">Create new Album</router-link>
            </div>
            <div class="input-group mb-3 col-10">
                <label class="m-2">Filter by user:</label>
                <select v-model="selected">
                    <option selected>All</option>
                    <option v-for="user, index in users">{{user.name}}</option>
                </select>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered table-hover" style="cursor: pointer">
                    <thead>
                    <tr>
                        <th>Album Name</th>
                        <th>User Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="album, index in filteredList" :key="album.id" @click="albumShow(album.id)">
                        <td>{{ album.title }}</td>
                        <td>{{ getUser(album.userId).name }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import { mapState } from 'vuex';

    export default {
        data: function () {
            return {
                selected: "All",
            }
        },
        mounted() {
            if(this.albums.length < 1) this.$store.dispatch('albums/loadAlbums');
        },
        methods: {
            getUser(id){
                return this.$store.getters['users/getUserById'](id);
            },
            albumShow(id) {
                this.$router.push({
                    name: 'showAlbum',
                    params: { id: id }
                });
            },
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete user?")) {
                    let app = this;
                    axios.delete('/users/' + id + '/edit')
                        .then(function (response) {
                            app.users.splice(index, 1);
                        })
                        .catch(function (response) {
                            alert("Could not delete user");
                        });
                }
            }
        },
        computed: {
            filteredList() {
                if(this.selected !== "All"){
                    return this.albums.filter(album => {
                        let user = this.$store.getters['users/getUserById'](album.userId);
                        return this.selected.toLowerCase().includes(user.name.toLowerCase());
                    })
                }
                return this.albums;
            },
            ...mapState('albums',['albums']),
            ...mapState('users', ['users']),
        }
    }
</script>