<template>
    <div>
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <router-link :to="{name: 'newUser'}" class="btn btn-success">Create new User</router-link>
            </div>
            <div class="input-group mb-3 col-10">
                <input type="text" class="form-control" v-model="search" placeholder="type ...">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search">Search</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered table-hover" style="cursor: pointer">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user, index in filteredList" :key="user.id" @click="userShow(user.id)">
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import { mapState } from 'vuex';

    export default {
        data: function () {
            return {
                search: '',
            }
        },
        mounted() {
            if(this.users.length < 1) this.$store.dispatch('users/loadUsers');
        },
        methods: {
            userShow(id) {
                this.$router.push({
                    name: 'showUser',
                    params: { id: id }
                });
            },
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete user?")) {
                    let app = this;
                    axios.delete('/users/' + id + '/edit')
                        .then(function (response) {
                            app.users.splice(index, 1);
                        })
                        .catch(function (response) {
                            alert("Could not delete user");
                        });
                }
            }
        },
        computed: {
            filteredList() {
                return this.users.filter(user => {
                    return user.name.toLowerCase().includes(this.search.toLowerCase())
                })
            },
            ...mapState('users',[
                'users'
            ])
        }
    }
</script>