<template>
    <div>
        <div class="panel panel-default">
            <div class="form-group">
                <router-link to="/albums" class="btn btn-info"><< Back</router-link>
            </div>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="control-label">Album Title</label>
                            <input type="text" v-model="album.title" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <button class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";

    export default {
        computed:{
            album(){
                return this.$store.getters['albums/getAlbumById'](this.$route.params.id);
            }
        },
        methods: {
            saveForm() {
                let app = this;
                event.preventDefault();
                app.$store.dispatch('albums/editAlbum', app.album)
                    .then(function(){
                        app.$router.replace('/albums');
                    });
            }
        }
    }
</script>