<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-info"><< Back</router-link>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form enctype="multipart/form-data" v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="control-label">User name</label>
                            <input type="text" v-model="user.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label class="control-label">User email</label>
                            <input type="text" v-model="user.email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import uploadService from '../services/uploadService';

    export default {
        data: function () {
            return {
                user: {
                    name: '',
                    email: '',
                },
            }
        },
        methods: {
            reset(){
                this.user = null;
            },
            saveForm() {
                event.preventDefault();
                let app = this;
                app.$store.dispatch('users/addUser', app.user)
                    .then(function(){
                        app.$router.replace('/');
                    });
            },
        }
    }
</script>