<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <router-link :to="{name: 'editUser', params:
                                    {id: user.id}}" class="btn btn-xs btn-info">
                                Edit
                            </router-link>
                            <a href="#"
                               class="btn btn-xs btn-danger ml-3"
                               v-on:click="deleteEntry(user.id)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            user(){
                return this.$store.getters['users/getUserById'](this.$route.params.id);
            }
        },
        methods: {
            deleteEntry(id) {
                if (confirm("Do you really want to delete user?")) {
                    let app = this;
                    app.$store.dispatch('users/deleteUser', id);
                }
            }
        },
    }
</script>