<template>
    <div id="app">
        <header>
            <div class="row justify-content-center mb-3">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-10">
                    <router-link class="navbar-brand" to="/">Users</router-link>
                    <router-link class="navbar-brand" to="/albums">Albums</router-link>
                </nav>
            </div>

        </header>
        <main>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <router-view/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>
